*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000430;
    color: #fff;
}
#main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    flex-direction: column;
    max-width: 500px;
}
.status-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    border-radius: 20px;
    border: 2px solid blue;
    gap: 40px;
    width: 100%;
}
/* .details{
    width: 100%;
} */
.progress-bar{
    background-color: #171c48;
    border-radius: 5px;
    margin-top: 25px;
    width: 100%;
    height: 10px;
}
#progress{
    width: 70%;
    height: 10px;
    background-color: aqua;
    border-radius: 5px;
}
#number{
    width: 100%;
    height: 100%;
    background-color: #6495ED;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
#input-box{
    display: flex;
    margin-top: 50px;
    width: 100%;
    gap: 15px;
}
input{
    flex: 1;
    padding: 20px;
    background-color: #171c48;
    border-radius: 10px;
    border: 1px solid blue;
    outline: none;
    color: #fff;
    font-size: 18px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #6495ED;
    color: #fff;
    font-weight: bolder;
    font-size: larger;
}
button:hover{
    background-color:#4c81e2 ;
}
input::placeholder{
    color: aliceblue;
}
li{
    list-style: none;
    flex: 1;
    height: 65px;
}
.task_item{
    box-shadow: 1PX 1PX 1PX 2PX blue;
    width: 100%;
    padding: 15px;
    background-color: #171c48;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#task-list{
    gap: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}
 .completed p{
    text-decoration: line-through;
    color:aqua;
}
.task{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    margin: 4px;
}
.task input{
    width: 12px;
    height: 12px;
    transform: scale(2);
}
.icons i{
    font-size: 25px;
    margin:  0 10px;
    cursor: pointer;
}
.icons #edit{
    color: #6495ED;
}
.icons #delete{
    color: red;
}